@font-face {
  font-family: "Open Sans";
  src: url("../lib/OpenSans-SemiBold.ttf");
  src: url("../lib/OpenSans-ExtraBold.ttf");
}

:root {
  --theme-color: #fd2448;
  --window-height: 200px;
}

h1 {
  font-size: 18pt;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  width: 400px;
  height: var(--window-height);
  background-color: #1f1f1f;
  color: white;
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #8f444ef8;
  padding: 15px;
}

.container {
  background-color: #ffffff0a;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input,
button {
  margin-bottom: 15px;
}

#theme-color-button {
  border: solid 2px var(--theme-color);
}

input::placeholder {
  color: #ababab;
}

input:hover {
  background-color: black;
}

input:focus {
  background-color: #1b1b1b;
}

input,
button {
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 2px #000000;
  border-radius: 10px;
  background-color: #131313;
  color: white;
  outline: none;
  transition: 100ms all ease-in-out;
}

input {
  cursor: text;
}

button:focus,
button:hover {
  background-color: black;
}

button:active {
  border: solid 2px #2b2b2b;
  background-color: #1b1b1b;
}

#color-preview {
  height: 25px;
  width: 25px;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
