:root {
  --theme-color: #b57d89;
  --theme-low-color: #adadad29;
  --theme-radius: 5px;
  --theme-radius-big: 12px;
  --yt-spec-brand-button-background: var(--theme-color) !important;
  --yt-spec-brand-link-text: var(--theme-color) !important;
  --yt-spec-themed-blue: var(--theme-color) !important;

  /* Avatar outline */
  --ytd-avatar-outline-color: var(--theme-color) !important;

  --yt-spec-call-to-action: var(--theme-color) !important;
}

.style-scope {
  --yt-spec-static-brand-red: var(--theme-color) !important;
  --ytcp-themed-green: var(--theme-color) !important;
    --yt-spec-suggested-action: var(--theme-low-color);

  /* YouTube Studio */
  --paper-tab-ink: var(--theme-low-color);
  --ytcp-call-to-action-focused-background: var(--theme-low-color);
  --ytcp-badge-blue: var(--theme-low-color);
  --ytcp-call-to-action: var(--theme-color);
  --ytcp-button-icon-color: var(--theme-color);
  --paper-tab-content_-_color: var(--theme-color);
  --ytcp-call-to-action-ripple: black !important;
  --paper-tabs-selection-bar_-_background-color: var(--theme-color);
  --ytcp-studio-blue: var(--theme-color);
  --chart-color: var(--theme-color);
  --dot-color: var(--theme-color);
  --yt-icon-active-color: var(--theme-color);
  --ytcp-link-color: var(--theme-color);
  --ytcp-container-focused-border-color: var(--theme-color);
  --ytcp-input-container-label-focused-style_-_color: var(--theme-color);
  --ytcp-call-to-action-raised-background: var(--theme-color);
  --ytcp-studio-green: var(--theme-color);
  --background-color: var(--theme-color);
  --ytcp-themed-blue: var(--theme-color);
  --ytcp-themed-red: var(--theme-color);

  /* YouTube Music */
  /*     --yt-endpoint-color: var(--theme-color); */
  --yt-spec-call-to-action: var(--theme-color);
  --paper-slider-active-color: var(--theme-color) !important;
  --paper-slider-knob-color: var(--theme-color) !important;
  --paper-slider-knob-start-color: var(--theme-color) !important;
  --paper-slider-knob-start-border-color: var(--theme-color) !important;
  --paper-spinner-color: var(--theme-color) !important;
}

ytcp-badge[state=done] .container.ytcp-badge {
    background-color: var(--theme-low-color);
}

paper-item[test-id="live"]
  > ytcp-ve
  > a
  > iron-icon
  > svg
  > g
  > path:nth-child(2) {
  fill: var(--theme-color);
}

tp-yt-paper-icon-item.iron-selected.ytcp-navigation-drawer,
tp-yt-paper-icon-item.iron-selected.ytcp-navigation-drawer
  iron-icon.ytcp-navigation-drawer {
  color: var(--theme-color) !important;
}

tp-yt-paper-icon-item.ytcp-navigation-drawer:after {
  background-color: var(--theme-color) !important;
}

ytd-macro-markers-list-item-renderer[active] #thumbnail.ytd-macro-markers-list-item-renderer {
  outline: none !important;
}

paper-item[test-id="upload-beta"]
  > ytcp-ve
  > iron-icon
  > svg
  > g
  > path:nth-child(2) {
  fill: var(--theme-color);
}

.ytmusic-nav-bar.yt-simple-endpoint {
  filter: saturate(0);
}

ytd-clarification-renderer {
    border-radius: var(--theme-radius-big);
    margin-top: 15px
}

ytd-clarification-renderer yt-button-renderer{
  border-radius: var(--theme-radius) !important;
}

/* YTS Upload disclaimer links */
.disclaimer > a {
  color: var(--theme-color) !important;
}

/* YTS Disabled comment sort button icon */
#sort-filter.ytcp-sort-filter-sub-menu-renderer[disabled]
  > iron-icon.inline.ytcp-button {
  --ytcp-button-icon-color: var(--ytcp-black-disabled) !important;
}

/* YTS Analytics graph */
yta-latest-activity-card g.yta-line-chart-base > path {
  fill: var(--theme-color) !important;
  stroke: var(--theme-low-color) !important;
}

ytcp-badge[state="blue"] .container.ytcp-badge {
  background-color: var(--theme-low-color);
}

body::-webkit-scrollbar {
  background-color: #181818;
  width: 15px;
}

body::-webkit-scrollbar-corner {
  background-color: #181818;
}

body::-webkit-scrollbar-thumb {
  background-color: #212121;
}

paper-ripple.ytcp-button {
  opacity: 0.1;
}

.ytcp-home-button,
iron-icon.ytcp-icon-button,
tp-yt-iron-icon.ytcp-icon-button,
tp-yt-iron-icon.menu-icon {
  filter: saturate(0);
}

#country-code {
  /*   TODO Make optional   */
  display: none;
}

/* Chapters time */
#time.ytd-macro-markers-list-item-renderer {
  background-color: var(--theme-low-color);
}

/* Chapters outline */
ytd-macro-markers-list-item-renderer[active]
  #thumbnail.ytd-macro-markers-list-item-renderer {
  box-shadow: 0px 0px 0px 2px var(--theme-color);
  outline: none;
}

hr.divider.ytcd-video-snapshot-item {
  display: none;
}

/* Lighter Thumbnails for YTS */
#video-thumbnail-container > #video-thumbnail,
.ytcp-thumbnail {
  border-radius: var(--theme-radius);
  border-collapse: separate;
  overflow: hidden;
  perspective: 1px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
}

/* Thumbnails */
a.thumbnail > .ytcd-basic-item-large-image,
ytcp-thumbnail-with-title,
ytd-playlist-thumbnail,
ytd-thumbnail,
#thumbnail,
.thumbnail-container.ytd-notification-renderer {
  border-radius: var(--theme-radius-big) !important;
  border-collapse: separate;
  overflow: hidden;
  perspective: 1px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 7px 0px;
}

ytd-playlist-thumbnail:hover,
ytd-thumbnail:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;
}

ytd-playlist-thumbnail:active,
ytd-thumbnail:active {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 20px 0px;
}

ytd-compact-video-renderer.ytd-watch-next-secondary-results-renderer:not([expansion="collapsed"]).ytd-watch-next-secondary-results-renderer,
ytd-compact-radio-renderer.ytd-watch-next-secondary-results-renderer,
ytd-compact-movie-renderer.ytd-watch-next-secondary-results-renderer,
ytd-compact-playlist-renderer.ytd-watch-next-secondary-results-renderer,
ytd-compact-promoted-video-renderer.ytd-watch-next-secondary-results-renderer,
ytd-promoted-sparkles-web-renderer.ytd-watch-next-secondary-results-renderer {
  margin-bottom: 20px;
}

#player-container-outer {
  border-radius: var(--theme-radius-big);
  border-collapse: separate;
  overflow: hidden;
  /* perspective: 1px; removing this is a bandaid fix for square videos */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px 0px;
}

.ytd-iframe-companion-renderer {
  border-radius: var(--theme-radius-big) !important;
}

ytcp-button,
.ytd-button-renderer {
  border-radius: var(--theme-radius) !important;
}

.ytp-ad-text-overlay {
  border-radius: 10px !important;
}

.ytp-ad-image-overlay {
  border-radius: 10px !important;
}

/* Color Swapping */
#progress.ytd-thumbnail-overlay-resume-playback-renderer {
  background-color: var(--theme-color) !important;
}

ytd-menu-renderer
  ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(1) {
  color: var(--theme-color) !important;
}

ytd-menu-renderer
  ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(2) {
  color: var(--theme-color) !important;
}

.ytd-subscribe-button-renderer:not(ytd-subscription-notification-toggle-button-renderer) {
  color: var(--yt-spec-general-background-a) !important;
  font-weight: 600 !important;
  border-radius: var(--theme-radius) !important;
}

ytd-button-renderer {
  border-radius: var(--theme-radius) !important;
}

.ytp-settings-button.ytp-hd-quality-badge:after {
  background-color: var(--theme-color) !important;
  color: #1f1f1f;
}

.ytp-swatch-color {
  color: var(--theme-color) !important;
}

.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
  background-color: var(--theme-color) !important;
}

ytd-sentiment-bar-renderer[activated_] #like-bar.ytd-sentiment-bar-renderer {
  background-color: var(--theme-color) !important;
}

.ytd-topbar-logo-renderer > svg > g > g:first-of-type > path,
.yt-icon-container > svg > g > g:first-of-type > path {
  fill: var(--theme-color) !important;
}

#logo-icon > svg > g > g:first-of-type > path:first-of-type {
  fill: var(--theme-color) !important;
}

.ytp-swatch-background-color {
  background-color: var(--theme-color) !important;
}

.ad-interrupting .ytp-play-progress.ytp-swatch-background-color {
  background-color: #fc0 !important;
}

#progress.yt-page-navigation-progress {
  background-color: var(--theme-color) !important;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}

:focus {
  outline-color: var(--theme-color) !important;
}

paper-icon-item.iron-selected.ytcp-navigation-drawer,
paper-icon-item.iron-selected.ytcp-navigation-drawer
  iron-icon.ytcp-navigation-drawer {
  color: var(--theme-color) !important;
}

paper-icon-item.ytcp-navigation-drawer:after {
  background-color: var(--theme-color) !important;
}

.ytp-chrome-controls .ytp-button[aria-pressed]:after {
  background-color: var(--theme-color) !important;
}

.yt-multi-page-menu-section-renderer [fill="#f80000"] {
  fill: var(--theme-color) !important;
}

#notification-count.ytd-notification-topbar-button-renderer {
  background-color: var(--theme-color) !important;
}

.ytp-settings-button.ytp-4k-quality-badge:after {
  background-color: var(--theme-color) !important;
}

.yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
  background-color: var(--theme-color) !important;
}